[{:db/ident :tag/name
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db.install/_attribute :db.part/db}

 {:db/ident :content/tags
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db}]